.combo {
  width: 33%;
  padding-top: 60%;
  border-radius: 10px;
  background-color: #303030;
  position: relative;
  display: block;
  overflow: hidden;
  @media (max-width: 600px) {
    width: 100%;
    border-radius: 0;
    margin-bottom: 25px;
  }
}

.slideInfoCard {
  width: 80%;
  height: 25%;
  border-radius: 0 0 10px 10px;
  padding: 10%;
  background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.0) 100%);
  position: absolute;
  bottom: -2%;
  color: white;
  transition: all 0.1s ease-in-out;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    @media (max-width: 600px) {
      font-size: 1.2rem;
    }
  }
  p {
    font-size: 1.2rem;
    margin: 25px 0;
    line-height: 2rem;
    @media (max-width: 600px) {
      font-size: 1rem;
      line-height: 1.2rem;
      margin: 15% 0;
    }
  }
  .price {
    font-size: 2.5rem;
    text-align: right;
    @media (max-width: 600px) {
      font-size: 2rem;
    }
  }
  @media (max-width: 600px) {
    width: 65%;
    height: 90%;
    border-radius: 0;
    bottom: inherit;
    top: 0;
    padding: 5%;
  }
}

.combo:hover {
  .slideInfoCard {
    bottom: 0;
  }
  @media (max-width: 600px) {
    .slideInfoCard {
      width: 75%;
    }
  }
}
