.couponContainer {
  width: 33.33%;
  display: inline-block;
  position: relative;
  outline:1px solid #FFFFFF;
  overflow: hidden;
}

.couponContainer:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.couponContainer:hover {
  z-index: 1;
  transition: all 200ms ease;
  transform: scale(1.02);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .2);
}

.elements {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: silver;
}

.elementContent {
  height: 100%;
}

.specialHitpoint {
  height: 100%;
  display: flex;
  color: white;
}

.specialContent {
  width: 85%;
  text-align: center;
  margin: auto;
}

.couponTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
}

.couponDescription {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 25px;
}

.couponAcception {
  font-size: 0.8rem;
}

.specialContainer {
  height: 100%;
}


@media (max-width: 600px) {
  .couponContainer {
    width: 100%;
  }
}
