.big {
  width: 75vw;
  height: 30vh;
  padding: 20px;
  margin-bottom: 4%;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  background-size: cover;
  border-radius: 5px;
}

.small {
  width: 36vw;
  height: 30vh;
  padding: 20px;
  margin-bottom: 4%;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  background-size: cover;
  border-radius: 5px;
}

.big:hover {
  box-shadow: 0 0 1pt 2pt #F53D49;
}

.small:hover {
  box-shadow: 0 0 1pt 2pt #F53D49;
}

.couponTitle {
  letter-spacing: 2px;
}

.couponDescription {
  text-align: center;
  margin-bottom: 0px;
}

.couponAcception {
  text-align: center;
  font-size: 0.8rem;
}

#specialsForm {
  display: none;
}

@media (max-width: 600px) {
  .small {
    width: 85vw;
    margin-bottom: 8%;
  }

  .big {
    width: 85vw;
    margin-bottom: 8%;
  }
}
