.faveImageContainer {
  height: 600px;
  color: white;
  display: flex;
  align-items: center;
}

.faveImage{
  height: 300px;
  width: 100%;
  position: relative;
}

.dishName {
  text-transform: uppercase;
  letter-spacing: 4px;
  position: absolute;
  bottom: -100px;
  right: 5%;
}

.dishNumber {
  font-weight: 700;
  font-size: 15rem;
  opacity: 0.5;
  position: absolute;
  top: -45%;
  left: 5%;
}

/*---------- Mobile ----------*/

@media (max-width: 600px) {
  .faveImage {
    height: 600px;
  }
  .dishName {
    font-size: 0.9rem;
    letter-spacing: 0px;
    position: static;
    text-align: center;
  }

  .dishNumber {
    font-size: 7.5rem;
    opacity: 0.4;
    position: static;
    text-align: center;
    margin-bottom: 50px;
  }
}
