.faveImage{
  position: relative;
  padding: 25vh 0;
  color: white;
}

.dishName {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  position: absolute;
  bottom: 0px;
  right: 25%;
}

.dishNumber {
  font-weight: 700;
  font-size: 10rem;
  opacity: 0.5;
  position: absolute;
  bottom: 45%;
  left: 25%;
}

/*---------- Mobile ----------*/

@media (max-width: 600px) {
  .dishName {
    font-size: 0.9rem;
    letter-spacing: 0px;
    position: static;
    text-align: center;
  }

  .dishNumber {
    font-size: 7.5rem;
    opacity: 0.4;
    position: static;
    text-align: center;
    margin-bottom: 50px;
  }
}
