.imgGrid {
  display: flex;
  button{
    padding: 15px !important;
  }
}

/*---------- Mobile ----------*/

@media (max-width: 600px) {
  .imgGrid {
    max-width: 100vw;
    button {
      display: none;
    }
  }
}
