.imgGrid {
  width: 100vw;
  max-width: 75vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5%;
}

/*---------- Mobile ----------*/

@media (max-width: 600px) {
  .imgGrid {
    max-width: 86vw;
    height: 100%;
    div:only-child {
      padding-bottom: 20px;
    }
  }
}
