.footerContainerBackground {
  background: linear-gradient(135deg, rgba(26,26,26,0.95) 0%,rgba(26,26,26,0.95) 100%), url('./../../assets/tangotable-min.png') no-repeat center;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.footerContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1350px;
  @media (max-width: 1350px) {
    width: 1024px;
  }
}

.contactInfoContainer {
  width: 33.33%;
  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 25px;
  }
}

.tradeMark {
  width: 100%;
  margin: 25px 0;
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid rgba(161, 161, 161, 0.3);
  font-size: 0.7rem;
}

@media (max-width: 600px) {
  .footerContainer {
    width: 85%;
  }

  .contactInfoContainer {
    width: 100%;
    margin-bottom: 15px;
    h2 {
      border-bottom: 1px solid rgba(161, 161, 161, 0.3);
      padding-bottom: 25px;
    }
  }

  .contactInfoItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tradeMark {
    margin-top: 0px;
  }
}
