.footerContainerBackground {
  background: linear-gradient(135deg, rgba(26,26,26,0.95) 0%,rgba(26,26,26,0.95) 100%), url('./../../assets/tangotable-min.png') no-repeat center;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.footerContainer {
  margin-top: 50px;
  width: 1350px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerMenu {
  width: 25%;
  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 25px;
  }
}

.menuItems {
  display: flex;
  flex-direction: column;
  a {
    font-weight: 100;
    margin-bottom: 15px;
  }
}

.menuItems a {
  width: 50%;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
}

.menuItems a:hover {
  font-size: 1.2rem;
  color: #F53D49;
}

.contactInfoContainer {
  width: 25%;
  h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 25px;
  }
}

.mapContainer {
  width: 600px;
  margin-bottom: 15px;
}

.tradeMark {
  width: 100%;
  margin: 25px 0;
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid rgba(161, 161, 161, 0.3);
  font-size: 0.7rem;
}

@media (max-width: 600px) {
  .footerContainer {
    width: 85%;
  }

  .footerMenu {
    width: 100%;
    margin-bottom: 25px;
    h2 {
      border-bottom: 1px solid rgba(161, 161, 161, 0.3);
      padding-bottom: 5px;
    }
  }

  .menuItems {
    flex-direction: row;
    p {
      margin-bottom: 5px;
      font-size: 0.8rem;
    }
  }

  .contactInfoContainer {
    width: 100%;
    h2 {
      border-bottom: 1px solid rgba(161, 161, 161, 0.3);
      padding-bottom: 5px;
    }
  }

  .contactInfoItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mapContainer {
    width: 600px;
  }

  .tradeMark {
    margin-top: 0px;
  }
}
