.navBar {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  position: absolute;
  top: 50px;
}

.mobileLogoContain {
  display: flex;
  justify-content: center;
}

.mobileLogo {
  display: none;
}

.navContain {
  margin: 0 auto;
  max-width: 75vw;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.navLogo {
  width: 100px;
  margin-bottom: 0;
}

.navItems {
  align-self: center;
}

.navItem {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  margin-left: 25px;
  letter-spacing: 1px;
}

.navItem:hover {
  color: #F53D49;
}

/*---------- Mobile ----------*/

@media (max-width: 600px) {
  .navBar {
    top: auto;
    bottom: 50%;
  }

  .navContain {
    display: none;
  }

  .mobileLogo {
    display: block;
    width: 200px;
  }
}
