.couponList {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .couponContain {
    margin-bottom: 0px;
  }
}
