.sectionContainer {
  margin: 0 auto;
  padding-bottom: 75px;
  border-bottom: 1px solid lightgrey;
  width: 1080px;

  @media (max-width: 1350px) {
    width: 1024px;
  }
}

.sectionTitleContain {
  margin: 35px 0 50px;
  color: #F53D49;
  display: block;
}

.sectionTitle {
  font-size: 8rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: flex;
  padding-top: 35px;
}

.sectionIcon {
  width: 75px;
  margin: 0 25px;
}

.sectionSubText {
  font-size: 1rem;
  color: #4D4D4D;
  margin-bottom: 25px;
}

.couponContain {
  max-width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*---------- Mobile ----------*/

@media (max-width: 600px) {
  .sectionContainer{
    width: 100%;
    margin: 0 auto;
  }
  .sectionTitle {
    font-weight: 700;
    font-size: 2rem;
    margin: 0px;
    align-items: center;
  }
  .sectionTitleContain {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0;
    padding: 0 25px;
  }
  .sectionSubText {
    font-size: 1rem;
    margin: 25px 0 0 0;
  }
  .sectionIcon {
    margin-left: 25px;
    width: 65px;
  }
  .couponContain {
    max-width: 85%;
  }
}
