.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.sectionTitleContain {
  margin: 50px;
  width: 75%;
  text-align: center;
  align-items: center;
  color: #F53D49;
  border-bottom: 1px solid #a1a1a1;
}

.sectionTitle {
  font-size: 5rem;
  font-family: 'Bellefair', serif;
}

.sectionIcon {
  width: 100px;
  margin: 30px;
}

.sectionSubText {
  font-family: sans-serif;
  color: #4D4D4D;
  margin-bottom: 25px;
}

.couponContain {
  max-width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
