.sectionContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1350px;
}

.sectionTitleContain {
  margin: 35px 0 50px;
  color: #F53D49;
  display: block;
}

.sectionTitle {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 25px;
  display: flex;
}

.sectionIcon {
  width: 75px;
  margin: 0 25px;
}

.sectionSubText {
  font-size: 1.2rem;
  color: #4D4D4D;
  margin-bottom: 25px;
}

.couponContain {
  max-width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*---------- Mobile ----------*/

@media (max-width: 600px) {
  .sectionTitle {
    font-weight: 700;
    font-size: 2rem;
    margin: 0px;
    align-items: center;
  }
  .sectionTitleContain {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0;
    padding: 0 25px;
  }
  .sectionSubText {
    font-size: 1rem;
    margin: 25px 0 0 0;
  }
  .sectionIcon {
    margin-left: 25px;
    width: 65px;
  }
  .couponContain {
    max-width: 85%;
  }
}
