.contactInfo {
  color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.contactIcon {
  color: white;
  margin-right: 10px;
}

.contactText {
  color: white;
  text-decoration: none;
}

.contactText:hover {
  color: #F53D49;
}

